<h1>Listing logos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Svg url</th>
      <th>Png url</th>
      <th>Jpg url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logos.each do |logo| %>
      <tr>
        <td><%= logo.name %></td>
        <td><%= logo.svg_url %></td>
        <td><%= logo.png_url %></td>
        <td><%= logo.jpg_url %></td>
        <td><%= link_to 'Show', logo %></td>
        <td><%= link_to 'Edit', edit_logo_path(logo) %></td>
        <td><%= link_to 'Destroy', logo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Logo', new_logo_path %>
