<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @logo.name %>
</p>

<p>
  <strong>Svg url:</strong>
  <%= @logo.svg_url %>
</p>

<p>
  <strong>Png url:</strong>
  <%= @logo.png_url %>
</p>

<p>
  <strong>Jpg url:</strong>
  <%= @logo.jpg_url %>
</p>

<%= link_to 'Edit', edit_logo_path(@logo) %> |
<%= link_to 'Back', logos_path %>
